tutorial/
.env
data/data
app/hfmodels
data/crawlers/data
data/source
.idea/RAGjava.iml
.idea/misc.xml
.idea/vcs.xml
.idea/
venv/
**/__pycache__/
.vscode/
model.pth
bert-chinese
bert-base-chinese.zip
bert-base-chinese
